[Unit]
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/python3 /var/0s/source/c0re/app.py
WorkingDirectory=/var/0s/source/c0re
Environment="PYTHONIOENCODING=UTF-8"


[Install]
WantedBy=multi-user.target
