[Unit]
Description=Play the startup sound
After=setup_sound.service

[Service]
ExecStart=/usr/bin/aplay /var/startup.wav

[Install]
WantedBy=multi-user.target
